.page-chat{
	padding: 10px 0;
	background:#ffffff;
}
.message-form-chat .nav{
  margin-bottom: 0;
}

.message-form-chat #chat-send-message{
    margin-top: 20px;
    min-height: 68px;
}
.message-form-chat .tabbable .nav li a:hover{
    background-color: #FFF;
}
.message-student .chat-image, .message-teacher .chat-image{
    width: 50px;
    height: auto;
    max-height: 50px;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    border:1px solid #fff;
}
.message-student .content-message{
    background-color: #FFF;
    color: #666;
    padding: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #EBEFF3;
    border-left: 1px solid #DEE1E5;
    border-right: 1px solid #EBEFF3;
    border-bottom: 2px solid #DEE1E5;
    border-radius: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 15px;
    vertical-align: top;
    width: calc(100% - 100px);
}
.message-teacher .icon-message{
    display: inline-block;
    margin-left: -6px;
    margin-top: 10px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #E3F2E4;
}
.message-student .icon-message{
    display: inline-block;
    margin-right: -6px;
    margin-top: 10px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #DEE1E5;
}
.message-teacher .content-message{
    background-color: #EFFFEF;
    color: #666;
    padding: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #EBEFF3;
    border-left: 1px solid #DEE1E5;
    border-right: 1px solid #EBEFF3;
    border-bottom: 2px solid #E3F2E4;
    border-radius: 10px;
    display: inline-block;
    font-size: 13px;
    padding: 15px;
    vertical-align: top;
    width: calc(100% - 100px);
}
.message-teacher .content-message .chat-message-block-name,
.message-student .content-message .chat-message-block-name
{
    font-weight: bold;
}
.message-teacher .message-date{
	color: #666;
	font-style: italic;
	font-size: 10px;
	text-align: right;
	margin-right: 35px;
	margin-top: 10px;
}
.message-student .message-date{
	color: #666;
	font-style: italic;
	font-size: 10px;
	text-align: right;
	margin-top: 10px;
}
#chat-tabs .nav li a:hover{
    background-color: #FFF;
}
.chat-user {
    background-color: #FFF;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    color: #666;
    margin-bottom: -1px;
    padding: 10px;
    min-height: 185px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px #C8C8C8;
}
.chat-user .list-unstyled li{
    text-align: center;
}
.chat-user .list-unstyled li.ranking{
    font-size: 12px;
    font-weight: bold;
}
.chat-user .list-inline{
    margin: 0;
    text-align: center;
}
.chat-user .list-inline li{
    padding-left: 2px;
    padding-right: 2px;
}
.chat-user .avatar{
    position: relative;
    width: 70px;
    margin: auto;
    text-align: center;
}

.chat-user .icon{
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 5px;
    right: 8px;
    left: auto;
    border-radius: 50%;
}
.chat-user .user-image-chat {
	display: inline-block;
	height: auto;
	margin-right: 10px;
	max-height: 40px;
	float: left;
	width: 40px;
}

.emoticons-chat img{
  	width: 24px;
  	border: none;
}
.message-form-chat{
    margin-top: 30px;
    padding: 5px;
}
.emoji-menu {
	margin-left: -234px;
	margin-top: -224px;
	width: 468px;
}

.emoji-wysiwyg-editor-preview,
.emoji-wysiwyg-editor {
    margin-top: 20px;
    border: 0;
    min-height: 70px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #666;
}

#chat-tabs .tab-content{
	margin-top: 15px;
}

.chat-history {
	height: 400px;
	overflow: auto;
}

#chat-users {
	margin-left: 0;
}

.border-success{
    border: 2px solid #DDD;
}
.border-muted{
    border: 2px solid #DDD;
}
.status-muted{
    color: #666;
}
.status-success{
    color: #8FC400;
}
.icon-muted{
    background: #DDDDDD;
}
.icon-success{
    background: #8FC400;
}
/* Course chat */
#chat-tabs .tab-content{
    margin-top: 15px;
}

#chat-users {
    margin-left: -15px;
    margin-top: 30px;
}
#chat-users div.chat-user .user-image-chat {
    border-radius: 50%;
    display: block;
    float: none;
    height: 60px;
    margin: 0 auto 10px;
    max-height: 60px;
    width: 60px;
}